<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://khurki.net/wp-content/uploads/2015/10/Gluten-Free-Food_khurki.net_.jpg</string>
	<string>http://npic.orst.edu/images/foodsafebnr.jpg</string>
	<string>http://i.cdn.turner.com/cnn/2011/HEALTH/03/30/fda.food.dye.health/t1larg.food.dye.jpg</string>
	<string>http://www.bridalguide.com/sites/default/files/blog-images/bridal-buzz/mouthwatering-wedding-food/wedding-food-8.jpg</string>
	<string>http://images.clipartpanda.com/clipart-food-food-clipart-pictures.jpg</string>
	<string>http://i.cdn.travel.cnn.com/sites/default/files/styles/624x312/public/2015/05/21/hero-dsc_0135_1.jpg?itok=SvpTyO0Q</string>
	<string>http://www.slate.com/content/dam/slate/articles/life/food/2012/11/121106_FOOD_Curry.jpg.CROP.rectangle3-large.jpg</string>
	<string>http://mumsgrapevine.com.au/wp-content/uploads/2011/10/kids-food-9.jpg</string>
	<string>http://www.google.com/imgres?imgurl=http://www.ethical.org.au/3.4.2/wp-content/uploads/2013/01/food_additives_2.jpg&amp;imgrefurl=http://www.ethical.org.au/3.4.2/get-informed/issues/food-additives/&amp;h=553&amp;w=800&amp;tbnid=dy15lFUrOwthmM:&amp;docid=Pzk4LLl8oRsecM&amp;ei=4_pWVvfbJIL9swHy6734Dg&amp;tbm=isch&amp;client=safari&amp;ved=0ahUKEwi32Y2ui67JAhWC_iwKHfJ1D-84ZBAzCDkoNjA2</string>
	<string>http://wikiwomenshealth.com/wp-content/uploads/2015/07/fast-food-55a5aa8db2ab9-the-best-fast-food-in-america.jpg</string>
</array>
</plist>
